body,h1,h2,h3,h4,h5,h6,h7,ul,li,input{
	margin:0;
	padding:0;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #0000ff;
}
.booking input12 {
	border: 0;
    width: 141px;
    height: 32px;
    padding: 0 10px;
    outline: 0;
    border-radius: 2px;
	float: right;
}
body * {
	font-family: Helvetica Neue, Arial;
	font-size: 15px;
}
